<div id="header">
  <div id="header-top">
    <div id="logo">
      <h1><a href="/">dealeum</a></h1>
    </div>
    <div id="header-navigation">
      <ul>
        <li><a href="/">Deals</a></li>
        <li><a href="/coupons">Coupons</a></li>
        <li><a href="/free">Free</a></li>

        {%if current_user.is_authenticated%}
        <li>
          <a class="profile" href="/auth/profile/{{current_user.username}}"
            >{{current_user.username}} <img src="{{url_for('static', filename='uploads/' + current_user.profile_image)}}" alt=""
          /></a>
        </li>
        {%else%}
        <li>
          <a href="/auth/login">Login</a>
        </li>
        <li>
          <a href="/auth/register">Register</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </div>
  <div id="header-secondary"></div>

  <!-- {%if current_user.is_authenticated%}
  <p>{{current_user.username}}</p>
  {%else%}
  <a href="auth/login">Login</a>
  {%endif%} -->
</div>
